# Visual Studio user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/

# Files built by Visual Studio
*.pdb
*.log

# NuGet Packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Temporary files
*.tmp
*.temp
*~

# Windows
Thumbs.db
Desktop.ini

# dotnet specific
project.lock.json
project.fragment.lock.json
artifacts/

#
# Project-specific
#
IMAGES/
LicenseManager_12noon.Package/
Directory.Build.Props
